In [22]:
#Libraries

import requests
from bs4 import BeautifulSoup
import os
import time
import pandas as pd
from urllib.request import urlopen

In [21]:
teamURL = []

teamList = ["ATL","BOS","NJN","CHA","CHI","CLE","DAL","DEN","DET","GSW","HOU","IND","LAC", \
           "LAL","MEM","MIA","MIL","MIN","NOH","NYK","OKC","ORL","PHI","PHO","POR","SAC", \
           "SAS","TOR","UTA","WAS"] #Current list of team abbrieviations used by BRef

In [23]:
testurl = "https://www.basketball-reference.com/teams/ATL/stats_basic_totals.html"

html = urlopen(testurl)

In [24]:
def get_stats(site, paginate=False, column_names=None):
    #log.info('Getting Data.')
    page = requests.get(site)
    # Extract the HTML text.
    site_html = page.text
    # Convert HTML text to beautiful soup object
    soup = BeautifulSoup(site_html, features="lxml")
    
    # Get specific table
    table = soup.find("table", attrs={"id": "stats"})
    
    
    # Get column names
    headings = [th.get_text() for th in table.find_all("tr")[0].find_all("th")][1:]
    
    # Store column information into a dataframe
    data_df = pd.DataFrame(columns=headings)
    for row in table.find_all("tr")[2:]:
        temp_dict = dict(zip(headings, (td.get_text() for td in row.find_all("td"))))
        data_df = data_df.append(temp_dict, ignore_index=True)
    
    time.sleep(.3)
    return data_df

In [25]:
get_stats("https://www.basketball-reference.com/teams/ATL/stats_basic_totals.html")

,Lg,Tm,W,L,Finish,,Age,Ht.,Wt.,,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,NBA,ATL,41,31,1,,25.4,6-6,214,,...,.812,760,2525,3285,1737,503,342,953,1392,8186
1,NBA,ATL,20,47,5,,24.1,6-6,216,,...,.790,661,2237,2898,1605,523,341,1086,1548,7488
2,NBA,ATL,29,53,5,,25.1,6-7,215,,...,.752,955,2825,3780,2118,675,419,1397,1932,9294
3,NBA,ATL,24,58,5,,25.4,6-6,212,,...,.785,743,2693,3436,1946,638,348,1276,1606,8475
4,NBA,ATL,43,39,2,,27.9,6-6,219,,...,.728,842,2793,3635,1938,672,397,1294,1491,8459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,NBA,MLH,21,51,4,,26.1,6-4,194,,...,.692,,,3202,1298,,,,1771,5038
71,NBA,MLH,27,44,5,,26.2,6-4,199,,...,.685,,,3429,1427,,,,2120,5389
72,NBA,MLH,17,49,5,,26.6,6-5,201,,...,.682,,,3540,1229,,,,1848,4833
73,NBA,TRI,25,43,5,,,,,,...,.723,,,3715,1476,,,,2092,5730
74,NBA,TRI,29,35,3,,,,,,...,.727,,,,1330,,,,2057,5313

In [26]:
teamBasicStats = pd.DataFrame()

In [27]:

for team in teamList:    
    teamBasicStats = teamBasicStats.append(get_stats(f"https://www.basketball-reference.com/teams/{team}/stats_basic_totals.html"))

In [28]:
teamBasicStats

,Lg,Tm,W,L,Finish,,Age,Ht.,Wt.,,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,NBA,ATL,41,31,1,,25.4,6-6,214,,...,.812,760,2525,3285,1737,503,342,953,1392,8186
1,NBA,ATL,20,47,5,,24.1,6-6,216,,...,.790,661,2237,2898,1605,523,341,1086,1548,7488
2,NBA,ATL,29,53,5,,25.1,6-7,215,,...,.752,955,2825,3780,2118,675,419,1397,1932,9294
3,NBA,ATL,24,58,5,,25.4,6-6,212,,...,.785,743,2693,3436,1946,638,348,1276,1606,8475
4,NBA,ATL,43,39,2,,27.9,6-6,219,,...,.728,842,2793,3635,1938,672,397,1294,1491,8459
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,NBA,BAL,37,43,3,,26.1,6-5,207,,...,.714,,,5298,1676,,,,2119,9087
59,NBA,BAL,31,49,4,,25.0,6-6,203,,...,.688,,,5460,1423,,,,2073,8948
60,NBA,CHZ,25,55,5,,25.3,6-6,202,,...,.697,,,5145,1773,,,,2065,8795
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NBA,CHP,18,62,5,,25.3,6-5,206,,...,.673,,,5547,1802,,,,1954,8874

In [30]:
teamBasicStats.to_csv(r"C:\Users\15158\Documents\Post Grad\NBA Betting Project\Team Basic Stats.csv", index = False)

In [7]:
#print(teamList)

['ATL', 'BOS', 'NJN', 'CHA', 'CHI', 'CLE', 'DAL', 'DEN', 'DET', 'GSW', 'HOU', 'IND', 'LAC', 'LAL', 'MEM', 'MIA', 'MIL', 'MIN', 'NOH', 'NYK', 'OKC', 'ORL', 'PHI', 'PHO', 'POR', 'SAC', 'SAS', 'TOR', 'UTA', 'WAS']

In [9]:
teamBasicStatsURL = []

for team in teamList:
    URL = f"https://www.basketball-reference.com/teams/{team}/stats_basic_totals.html"
    teamBasicStatsURL.append(URL)
    
    
#teamBasicStatsURL

['https://www.basketball-reference.com/teams/ATL/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/BOS/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/NJN/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/CHA/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/CHI/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/CLE/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/DAL/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/DEN/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/DET/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/GSW/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/HOU/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/IND/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/LAC/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/LAL/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/MEM/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/MIA/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/MIL/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/MIN/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/NOH/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/NYK/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/OKC/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/ORL/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/PHI/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/PHO/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/POR/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/SAC/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/SAS/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/TOR/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/UTA/stats_basic_totals.html',
 'https://www.basketball-reference.com/teams/WAS/stats_basic_totals.html']

In [ ]:
for url in teamURL:
    print(url)
    
    ####################################################
    # Get the content of a page
    ####################################################
    r = requests.get(url)
    soup = BeautifulSoup(r.content, "html.parser")
    
    
    
        
    time.sleep(.2)